@import url('https://fonts.googleapis.com/css2?family=Updock&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: updock;
}


main {
  margin: 0 10rem 0 5rem;
}




body {
  background-color: black;
  color: antiquewhite;
}

header {
  background-color: rgb(0, 0, 0);
  
}

.texto,.bi-tropical-storm {
  color: ghostwhite;
  font-size: xxx-large;
}

#botao_container {
  display: flex; 
  justify-content: center ;
 }
 #botao_container:hover {
  cursor: pointer;
  transform: scale(1.5);
 }

figcaption {
  font-size: 100px;
  text-align: center;
}

figure{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


section {
    padding: 50px;
    
    /* margin: 50px; */
}

ul#menu {
  display: flex;
  list-style: none;
  align-items: center;
}

nav {
  
}

ul#menu li i {
  font-size: 5rem;
  margin-left: 40rem;
  justify-content: center;
}

ul#menu li a {
  color: ghostwhite;
}

ul#menu li:hover {
  transform: scale(1.04);
}

header img {
  width: 100%;
  
}